@use "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$primary-color: #14134f;
$secondary-color: #fb596a;
$bg-color: #fafafa;
$error-color: #f95d51;

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Urbanist", Arial, sans-serif;
  line-height: normal;
  color: $primary-color;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background-color 1s linear;
  background-color: rgb(245, 248, 255);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hidden {
  display: none;
}

.animate {
  opacity: 1;
  transform: translate(0, 0);
}

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 111px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 248, 255, 0.8) !important;
  -webkit-backdrop-filter: saturate(90%) blur(10px);
  backdrop-filter: saturate(90%) blur(10px);

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 98px;
    width: 89px;
    height: 21px;
    background-image: url("../assets/images/icons/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/icons/burger.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
      filter: blur(4px);
      z-index: -1;
    }
  }

  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 999999;
    display: none;
    transition: opacity 0.3s ease;
  }
  &__overlay.active {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 25px;
    opacity: 0.7;
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 40px;
  }
  &__logo {
    position: absolute;
    left: 6px;
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      position: relative;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $secondary-color;
        border-radius: 50%;
        bottom: 4px;
        left: 2px;
        animation: pulse 4s infinite linear;
      }
    }
    &-img {
      width: 73px;
      height: auto;

      &--blured {
        position: absolute;
        opacity: 0.2;
        filter: blur(4px);
        z-index: -9;
      }
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: -9;
      background-color: $secondary-color;
      border-radius: 50%;
      right: 2px;
      top: 4px;
      animation: pulse 4s infinite linear;
    }
  }
  &__nav {
    position: relative;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.promo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;

  &.promo--active {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99999999;
    opacity: 0;
    transition: opacity 0.4s ease;
    cursor: pointer;
  }

  &__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999999999;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 30px;
      height: 2px;
      background-color: $secondary-color;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 660px;
    width: 100%;
    padding: 40px 45px;
    background-color: #edf2fe;
    z-index: 999999999;
  }

  &__input {
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    max-width: 570px;
    width: 100%;
    height: 60px;
    background-color: $bg-color;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 20px;
    line-height: 1.33;
    margin-bottom: 25px;
    outline: 0;
    font-size: 16px;
    &--error {
      border: 1px solid red !important;
    }
    &::placeholder {
      font-family: "Urbanist", sans-serif;
      font-size: 16px;
      line-height: 1.33;
    }
  }

  &__form {
    max-width: 100%;
    width: 100%;
  }

  &__label {
    display: none;
  }

  &__button {
    box-sizing: border-box;
    max-width: 570px;
    width: 100%;
    height: 54px;
    color: $bg-color;
    background-color: $secondary-color;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: Urbanist;
    font-weight: 400;
    border: none;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
    margin: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
      background-color: $primary-color !important;
      color: $bg-color !important;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 24px;
  }

  &__link {
    color: rgb(20, 19, 79);
    border-bottom: 1px solid rgb(20, 19, 79);
    text-decoration: none;
  }

  &__text {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.55;
    color: #000;
  }

  &__title {
    color: $primary-color;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 31px;
    text-align: center;
  }

  &__error-field {
    color: red;
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
  }

  &__error-global {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 570px;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 20px;
    background-color: $error-color;
    color: #fff;
    text-align: center;
    display: none;
    font-size: 16px;
  }
  &__error-text {
    font-size: 18px;
    line-height: 1.55;
    padding: 8px 0;
  }
}

.promo--active .promo__overlay {
  opacity: 0.6;
}

.promo--active .promo__container {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 9999999;
  background-color: #edf2fe;
  padding: 48px 40px 38px;
  display: flex;
  flex-direction: column;
  transform: translate(100%, 0);
  transition: transform ease-in-out 0.3s;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    outline: none;
    &:hover {
      color: #ff8562;
    }
  }
  &__logo {
    margin-bottom: 16px;
    &-img {
      width: 60px;
      height: 42px;
    }
  }
  &__close-button {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    top: 7px;
    right: 5px;
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      top: 19px;
      right: 8px;
      background-color: $primary-color;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      top: 19px;
      right: 8px;
      background-color: $primary-color;
      transform: rotate(-45deg);
    }
  }
  &--active {
    transform: translate(0, 0);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 109vh;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../assets/images/background_map.png");
    background-position: center center;
    background-size: 101% auto;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: translate(-4.5%, -14%);
    gap: 10px;
  }

  &__title {
    color: $primary-color;
    height: fit-content;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    line-height: 8.2vw;
    font-size: 8.2vw;
    font-style: italic;
    letter-spacing: -3px;
    text-wrap: nowrap;
    opacity: 0;
    animation: fadeInTitle 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;
  }

  &__subtitle {
    color: $primary-color;
    display: block;
    height: fit-content;
    font-weight: 400;
    line-height: 5vw;
    font-size: 5vw;
    letter-spacing: -0.5px;
    opacity: 0;
    animation: fadeInSubtitle 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;
  }

  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    line-height: 1.3vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: $primary-color;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    animation: fadeInText 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;

    &::after {
      position: absolute;
      left: -13%;
      content: "";
      width: 1.3vw;
      height: 1.3vw;
      border-radius: 100%;
      background-color: $secondary-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(111px + 2px);
    width: 93.5%;
    height: 1.58px;
    background-color: $primary-color;
    opacity: 0.4;
  }
}

.why-choose-us {
  width: 100%;
  margin-top: 25px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-mobile {
    display: none;
    height: 596px;

    &__container {
      width: 100%;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      box-sizing: border-box;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      gap: 2px;
      cursor: grab;
      padding-left: 60px;
    }
    &__title {
      line-height: 38px;
      letter-spacing: 0px;
      font-size: 31px;
      color: $primary-color;
      font-weight: 400;
      margin-left: 55px;
    }
    &__item {
      flex-shrink: 0;
      border-radius: 50%;
      width: 337px;
      height: 337px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $bg-color;
      box-sizing: border-box;
      border: 25px solid $primary-color;
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    }
    &__item-title {
      line-height: 28px;
      font-size: 26px;
      margin-bottom: 15px;
    }
    &__item-description {
      text-align: center;
      max-width: 220px;
      line-height: 23px;
      font-size: 18px;
      opacity: 0.7;
    }
    &__wrapper {
      position: relative;
      overflow: auto;
      padding: 40px 0;
    }
    &__button {
      margin-left: 55px;
      color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
      width: 220px;
      height: 50px;
      line-height: 1.55;
      font-weight: 500;
      border-radius: 30px;
      background-color: $bg-color;
      font-family: "Urbanist", Arial, sans-serif;
      border-style: solid;
      border-color: transparent;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: 10px 10px 40px 4px rgba(82, 81, 140, 0.1);
      &:hover {
        background-color: $primary-color;
        color: $bg-color;
      }
    }
  }

  &__button {
    margin-top: 40px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 220px;
    height: 50px;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 30px;
    background-color: $bg-color;
    font-family: "Urbanist", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 40px 4px rgba(82, 81, 140, 0.1);
    &:hover {
      background-color: $primary-color;
      color: $bg-color;
    }
  }

  &__container {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    z-index: 9;
  }
  &__content {
    max-width: 350px;
    width: 100%;
    margin-left: 20px;
  }
  &__vector {
    position: absolute;
    width: 258px;
    height: 373px;
    right: 392px;
    top: 294px;
    z-index: 999;
    background: url("../assets/images/icons/vector_39.svg") no-repeat center
      center;
    background-size: contain;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
    &.animate-from-center {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__dot {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    &--first {
      transform: translate(-577px, 370px);
    }
    &--second {
      transform: translate(-432px, 287px);
    }
    &--third {
      transform: translate(-386px, 420px);
    }
    &-inner {
      width: 16px;
      height: 16px;
      background-color: $secondary-color;
      border-radius: 50%;
      animation: pulse 4s infinite linear;
    }
  }

  &__item {
    display: flex;
    position: relative;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    transition: transform 0.4s ease, background 0.3s ease;

    &-title,
    &-description {
      position: absolute;
      transition: opacity 0.4s ease;
    }

    &-title {
      display: flex;
      text-align: center;
      z-index: 99999;
      line-height: 35px;
      color: $primary-color;
      font-size: 32px;
      font-family: "Urbanist", Arial, sans-serif;
      opacity: 1;
    }

    &-description {
      display: flex;
      text-align: center;
      z-index: 99999;
      line-height: 21px;
      width: 180px;
      color: $primary-color;
      font-size: 16px;
      font-family: "Urbanist", Arial, sans-serif;
      opacity: 0;
      max-width: 190px;
    }
    &::after {
      position: absolute;
      z-index: 999;
      content: "";
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: rgb(230, 237, 255);
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border: 10px solid transparent;
      transition: all 0.4s ease;
    }

    &:hover {
      background: none;

      .why-choose-us__item-title {
        opacity: 0;
      }
      .why-choose-us__item-description {
        opacity: 1;
      }
      &::after {
        background-color: $bg-color;
        border-color: $primary-color;
        width: 260px;
        height: 260px;
      }
    }

    &:nth-child(1) {
      transform: translate(36px, 185px);
    }
    &:nth-child(2) {
      transform: translate(25px, 10px);
    }
    &:nth-child(3) {
      transform: translate(-111px, 315px);
    }
  }

  &__title {
    line-height: 55px;
    font-size: 50px;
    letter-spacing: -0.5px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

  &__title {
    line-height: 21px;
    color: $primary-color;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Urbanist", Arial, sans-serif;
    opacity: 0.7;
    max-width: 240px;
  }

  &__running-line {
    width: 100%;
    overflow: hidden;
  }

  &__running-line-inner {
    display: flex;
    animation: runningLineServices 23.8s linear infinite;
  }

  &__text {
    padding: 0 10px;
    color: #14134f;
    font-size: 50px;
    line-height: 1.55;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
  }
}

.game-plan {
  width: 100%;
  height: 630px;
  display: flex;
  padding-top: 15px;
  &__wrapper {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  &__title {
    font-size: 50px;
    letter-spacing: -0.5px;
    height: fit-content;
    line-height: 55px;
    margin-left: calc((100vw - 1200px) / 2);
    margin-right: 160px;

    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 120px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 60px 16px 120px 16px;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2px;

    &::-webkit-scrollbar {
      display: none;
    }

    cursor: grab;

    &.active {
      cursor: grabbing;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-width: 50px;
    border-radius: 50%;
    border-color: #edf2fe;
    border-style: solid;
    box-shadow: 10px 10px 40px 4px rgba(55, 53, 133, 0.1);
    transition: border-color 0.2s ease, background-color 0.2s ease;
    &:hover {
      border-color: $primary-color;
      background-color: transparent;
      .game-plan__item-text {
        opacity: 1;
      }
    }
  }

  &__item-title {
    color: $primary-color;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  &__item-text {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 18px;
    top: 410px;
    text-wrap: nowrap;
    color: $bg-color;
    background-color: $primary-color;
    line-height: 24px;
    border-radius: 12px;
    transition: opacity 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      top: -5px;
      width: 9px;
      height: 9px;
      background-color: $primary-color;
    }
  }

  &__item-days {
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }

  &__button {
    display: block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 70px;
    right: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    z-index: 999;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/images/icons/arrow.svg");

    &--left {
      transform: translateX(-511px);
    }

    &--right {
      transform: translateX(-577px) rotate(180deg);
    }
  }
}

.results {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  &__button {
    margin-top: 42px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 220px;
    height: 50px;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 30px;
    background-color: $bg-color;
    font-family: "Urbanist", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 40px 4px rgba(82, 81, 140, 0.1);
    &:hover {
      background-color: $primary-color;
      color: $bg-color;
    }
  }
  &__content {
    margin-left: 20px;
    max-width: 400px;
    width: 100%;
  }
  &__container {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      background-color: $primary-color;
      opacity: 0.5;
    }
  }
  &__graph {
    position: relative;
    width: 100%;
  }
  &__graph-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $bg-color;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    width: 360px;
    height: 320px;
    top: 222px;
    left: 200px;
    transition: background-color 0.3s ease;

    &-img {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 396px;
      height: 352px;
      background-color: $bg-color;
      border-radius: 20px;
      z-index: -9;
      transition: transform 0.3s ease, background-color 0.3s ease;
      transform: scale(0.91);
    }

    &:hover {
      background-color: rgb(233, 233, 246);
      &::after {
        transform: scale(1);
      }
    }
  }
  &__graph-ltv {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: visible;
    top: 65px;
    left: 500px;
    z-index: 9999;
    transition: opacity 0.3s ease;
    img {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border-radius: inherit;
      transform-origin: center;
      transition: transform 0.3s ease;
      z-index: -1;
    }
    &:hover {
      opacity: 0.95;
    }

    &:hover::before {
      transform: scale(1.1);
    }
  }
  &__graph-net {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 260px;
    height: 80px;
    border-radius: 20px;
    top: 370px;
    left: 500px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 9999;
    transition: opacity 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border-radius: inherit;
      transform-origin: center;
      transition: transform 0.3s ease;
      z-index: -1;
    }
    &:hover {
      opacity: 0.95;
    }
    &:hover::before {
      transform: scale(1.15);
    }

    &-text {
      color: $bg-color;
      margin-left: 14px;
    }

    &-icon {
      width: 60px;
      height: 60px;
    }
  }
  &__graph-rate {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    border-radius: 20px;
    padding-right: 20px;
    background-color: $primary-color;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    top: 525px;
    left: 100px;
    transition: background-color 0.3s ease;
    &-icon {
      width: 18px;
      height: 18px;
      margin-left: 2px;
    }
    &-text {
      margin-left: 14px;
      color: $bg-color;
    }
    &:hover {
      background-color: $secondary-color;
    }
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      background-color: $primary-color;
      opacity: 0.5;
    }
  }
  &__text {
    line-height: 21px;
    font-size: 16px;
    margin-left: 36px;
    color: rgba($primary-color, 0.7);
    position: relative;
    padding: 22px 0 22px 0;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      z-index: 999;
      background-color: $secondary-color;
      border-radius: 50%;
      left: -35px;
      top: 26px;
    }
  }
  &__title {
    color: $primary-color;
    line-height: 55px;
    font-size: 50px;
    letter-spacing: -0.5px;
    margin-bottom: 59px;
    max-width: 332px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
  }
}

.trusted-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  margin: 73px 0 17px 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 8px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    height: 80px;
    background-color: $bg-color;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    border-radius: 20px;
    &-img {
      max-width: 100%;
      height: auto;
    }
  }
  &__title {
    line-height: 55px;
    margin-left: 20px;
    color: $primary-color;
    font-size: 50px;
    letter-spacing: -0.5px;
    max-width: 240px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 43% 57%;
    max-width: 1200px;
    width: 100%;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    height: 54px;
    overflow: hidden;
  }

  &__title {
    line-height: 21px;
    color: $primary-color;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Urbanist", Arial, sans-serif;
    opacity: 0.7;
  }

  &__running-line {
    width: 100%;
    overflow: hidden;
  }

  &__running-line-inner {
    display: flex;
    animation: runningLineClients 23.78s linear infinite;
  }

  &__text {
    padding: 0 10px;
    color: #14134f;
    font-size: 50px;
    line-height: 1.55;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  &__address {
    line-height: 21px;
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 60px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 20px;
  }
  &__form {
    width: 60%;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__info-icon {
  }
  &__info-link {
    width: 50px;
    height: 50px;
    transform: translate(-15px, -1px);
  }
  &__info-text {
    color: $primary-color;
    max-width: 218px;
    line-height: 21px;
    font-size: 16px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $bg-color;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    &--square {
      border-radius: 8px;
    }
  }
  &__link-icon {
    height: auto;
  }
  &__mail {
    color: $primary-color;
    line-height: 21px;
    font-size: 16px;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 11px;
  }
  &__telephone {
    color: $primary-color;
    line-height: 35px;
    font-size: 32px;
    letter-spacing: -0.5px;
    text-decoration: none;
    margin-bottom: 19px;
  }
  &__title {
    color: $primary-color;
    font-size: 50px;
    letter-spacing: -0.5px;
    margin-bottom: 59px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__form {
    width: 57%;
  }
  &__form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid rgba($primary-color, $alpha: 0.4);
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }

  &__form-checkbox:checked {
    background-color: transparent;
    border-color: #555;
  }

  &__form-checkbox:checked::after {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &__form-group {
    display: flex;
    align-items: center;
  }
  &__form-input {
    box-sizing: border-box;
    height: 50px;
    max-width: 560px;
    width: 100%;
    font-family: "Urbanist", Arial, sans-serif;
    background: none;
    border: none;
    border-bottom: 1px solid rgba($primary-color, 0.3);
    margin-bottom: 10px;
    outline: none;
    &::placeholder {
      color: rgba($primary-color, 0.5);
      font-size: 16px;
      font-weight: 400;
      height: 40px;
    }
  }
  &__form-label {
    display: none;
  }
  &__form-privacy {
    font-size: 14px;
    font-weight: 300;
    color: rgb(89, 88, 130);
    a {
      color: rgb(20, 19, 79);
      border-bottom: 1px solid rgb(20, 19, 79);
      box-shadow: none;
      text-decoration: none;
    }
  }
  &__form-submit {
    margin-top: 40px;
    padding: 0px 15px;
    display: block;
    width: 160px;
    font-weight: 400;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
    color: $primary-color;
    background-color: $bg-color;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  &__form-text {
    margin-bottom: 32px;
    a {
      line-height: 21px;
      font-size: 16px;
      text-decoration: none;
      color: $primary-color;
    }
  }
  &__form-textarea {
    box-sizing: border-box;
    padding-top: 10px;
    vertical-align: unset;
    font-family: "Urbanist", Arial, sans-serif;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    height: 85px;
    max-width: 560px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba($primary-color, 0.3);
    &::placeholder {
      color: rgba($primary-color, 0.5);
      font-size: 16px;
      font-weight: 400;
      height: 40px;
    }
  }
  &__form-title {
    line-height: 35px;
    color: $primary-color;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 26px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $bg-color;
  height: 100px;
  &__container {
    display: grid;
    height: 100%;
    width: 96%;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
  }
  &__menu{
    display: flex;
justify-content: center;
gap: 50px;
  }
  &__item-link{
    line-height: 21px;
    color: $primary-color;
    font-size: 16px;
    text-decoration: none;
  }
  &__copyright{
    display: flex;
    justify-content: end;
  }
  &__text {
    color: $primary-color;
    opacity: 0.7;
    max-width: 160px;
  }
  &__logo-img {
    width: 46px;
    height: 32px;
  }
  &__logo-link {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .promo {
    &__container {
      max-width: 540px;
    }
  }
  .header {
    height: 86px;
    &__nav {
      width: 96.5%;
    }
    &__burger {
      margin-left: 83px;
      width: 66px;
      height: 16px;
    }
    &__link {
      font-size: 20px;
    }
    &__logo {
      &-link {
        &::after {
          width: 7px;
          height: 7px;
        }
      }
      &::after {
        width: 7px;
        height: 7px;
      }
    }
    &__list {
      gap: 30px;
    }
    &__logo-img {
      width: 57px;
    }
  }
  .hero {
    height: 86vh;
    &__content {
      background-position: center calc(50% - 42px);
      background-size: 138% auto;
    }
    &__container {
      transform: translate(-4.5%, -60px);
      gap: 0;
    }
    &__title {
      line-height: 8.2vw;
      font-size: 8.2vw;
    }
    &__subtitle {
      line-height: 5.6vw;
      font-size: 5vw;
    }
    &__text {
      line-height: 1.7vw;
      font-size: 1.7vw;
      &::after {
        width: 1.7vw;
        height: 1.7vw;
      }
    }
    &::after {
      content: "";

      top: 87px;
      width: 95.5%;
      height: 1.22px;
    }
  }
  .why-choose-us {
    &__wrapper {
      max-width: 920px;
    }
    &__content {
      margin: 0;
    }
    &__title {
      max-width: 332px;
      line-height: 44px;
      font-size: 40px;
    }

    &__vector {
      width: 260px;
      right: 380px;
      top: 288px;
    }
    &__dot {
      &--first {
        transform: translate(-590px, 450px);
      }
      &--second {
        transform: translate(-420px, 275px);
      }
      &--third {
        transform: translate(-370px, 415px);
      }
      &-inner {
        width: 16px;
        height: 16px;
        background-color: $secondary-color;
        border-radius: 50%;
        animation: pulse 4s infinite linear;
      }
    }
    &__item {
      background: none;
      width: 280px;
      height: 280px;
      &-title {
        position: relative;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 14px;
        letter-spacing: 0px;
      }
      &-description {
        position: relative;
        opacity: 1;
        line-height: 21px;
        font-size: 16px;
        opacity: 0.7;
      }
      &::after {
        box-sizing: border-box;
        background-color: $bg-color;
        width: 280px;
        height: 280px;
        border: 20px solid $primary-color;
      }
      &:nth-child(1) {
        transform: translate(-5px, 235px);
      }
      &:nth-child(2) {
        transform: translate(5px, 10px);
      }
      &:nth-child(3) {
        transform: translate(-112px, 315px);
      }
      &:hover {
        .why-choose-us__item-title {
          opacity: 1;
        }
        .why-choose-us__item-description {
          opacity: 0.7;
        }
        &::after {
          width: 280px;
          height: 280px;
        }
      }
    }
  }
  .services {
    &__wrapper {
      max-width: 960px;
    }
  }
  .game-plan {
    height: 450px;
    padding: 0;
    &__title {
      line-height: 44px;
      font-size: 40px;
      letter-spacing: 0px;
      margin-right: 120px;
    }
    &__container {
      padding: 100px 16px 120px 132px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 360px;
      height: 360px;
      &-title {
        line-height: 1.2;
        font-size: 24px;
        letter-spacing: 0px;
        display: inline;
      }
      &-text {
        position: relative;
        display: none;
        font-size: 0;
        opacity: 1;
        color: $primary-color;
        top: 0;
        background: none;
        padding: 0;
        &::before {
          width: 0px;
          height: 0px;
        }
        br {
          display: none;
        }
      }
      &-days {
        line-height: 1.2;
        font-size: 24px;
        letter-spacing: 0px;
        opacity: 1;
        display: inline;
        font-family: "Urbanist", Arial, sans-serif;
        font-style: normal;
      }
    }
    &__button {
      display: none;
    }
  }
  .results {
    &__wrapper {
      max-width: 960px;
    }
    &__title {
      line-height: 44px;
      font-size: 40px;
      letter-spacing: 0px;
      margin-bottom: 40px;
    }
    &__text {
      padding: 21.5px 0 21.5px 0;
    }
    &__graph-main {
      top: 202px;
      left: 150px;
    }
    &__graph-ltv {
      top: 16px;
      left: 310px;
    }
    &__graph-net {
      top: 573px;
      left: 246px;
    }
    &__graph-rate {
      top: 506px;
      left: 50px;
    }
    &__graph-main,
    &__graph-ltv,
    &__graph-net,
    &__graph-rate {
      pointer-events: none;
    }
  }
  .trusted-us {
    &__wrapper {
      box-sizing: border-box;
      max-width: 980px;
      padding: 0 130px 0 10px;
    }
    &__item {
      max-width: 180px;
    }
    &__title {
      line-height: 44px;
      font-size: 40px;
      letter-spacing: 0px;
    }
    &__container {
      row-gap: 20px;
      column-gap: 20px;
    }
  }
  .clients {
    &__wrapper {
      max-width: 960px;
    }
  }
  .contacts {
    height: 540px;
    &__wrapper {
      max-width: 960px;
    }
    &__container {
      margin-bottom: 43px;
    }
    &__title {
      line-height: 44px;
      font-size: 40px;
      letter-spacing: 0px;
      margin-bottom: 40px;
    }
    &__telephone {
      line-height: 26px;
      font-size: 24px;
      letter-spacing: 0px;
    }
    &__link {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      &-icon {
        width: 22px;
        height: 22px;
      }
    }
    &__address {
      margin-bottom: 40px;
    }
    &__link--square {
      img {
        width: 34px;
        height: 34px;
      }
    }
    &__info {
      padding-bottom: 67px;
    }
  }
  .footer {
    &__container {
      width: 93%;
    }
  }
  .contacts {
    &__wrapper {
      justify-content: start;
    }
    &__form-title {
      line-height: 26px;
      font-size: 24px;
      letter-spacing: 0px;
      margin-top: 18px;
      margin-bottom: 12px;
    }
    &__form {
      width: 48%;
    }
    &__form-input {
      height: 40px;
    }
    &__form-textarea {
      height: 85px;
    }
  }
}
@media (max-width: 980px) {
  .header {
    height: 70px;
    &__burger {
      margin-left: 60px;
      width: 54px;
      height: 13px;
    }
    &__link {
      font-size: 16px;
    }
    &__list {
      gap: 25px;
    }
    &__logo-img {
      width: 46px;
    }
  }
  .services {
    &__text {
      padding: 0 10px;
      font-size: 26px;
      font-weight: 500;
      line-height: 1.55;
    }
    &__running-line-inner {
      animation: runningLineServicesMobile 12.37s linear infinite;
    }
  }
  .clients {
    &__text {
      padding: 0 10px;
      font-size: 26px;
      font-weight: 500;
      line-height: 1.55;
    }
    &__running-line-inner {
      animation: runningLineClientsMobile 12.62s linear infinite;
    }
  }
  .hero {
    height: 86vh;
    &::after {
      content: "";

      top: 70px;
      width: 95.5%;
      height: 1.22px;
    }
  }
}
@media (max-width: 959px) {
  .header {
    height: 103px;
    &__nav {
      width: 95%;
    }
    &__burger {
      margin-left: 96px;
      width: 79px;
      height: 19px;
    }
    &__link {
      font-size: 24px;
    }
    &__logo {
      &-link {
        &::after {
          width: 10px;
          height: 10px;
        }
      }
      &::after {
        width: 10px;
        height: 10px;
      }
    }
    &__list {
      gap: 30px;
    }
    &__logo-img {
      width: 68px;
    }
  }
  .hero {
    height: 130vw;
    &__content {
      background-position: center calc(90%);
      background-size: 167% auto;
    }
    &__container {
      width: 100%;
    }
    &__title {
      position: absolute;
      top: -37vw;
      left: 50%;
      margin-left: -41.7vw;
      font-size: 12.3vw;
      line-height: 80px;
    }
    &__subtitle {
      top: -29vw;
      right: 50%;
      position: absolute;
      margin-right: -43vw;
      text-wrap: nowrap;
      line-height: 8.44vw;
      font-size: 7.67vw;
    }
    &__text {
      line-height: 31px;
      font-size: 2.5vw;
      left: 50%;
      margin-left: -41vw;
      &::after {
        width: 24px;
        height: 24px;
      }
    }
    &::after {
      content: "";
      top: calc(103px + 2px);
      width: 94.5%;
      height: 1.22px;
    }
  }
  .why-choose-us {
    height: 860px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: none;
      width: 100%;
    }
    &__title {
      max-width: none;
      line-height: 35px;
      font-size: 32px;
      letter-spacing: 0px;
      padding-right: 145px;
    }
    &__button {
      margin-top: 705px;
    }
    &__vector {
      width: 198px;
      height: 285px;
      right: 300px;
      top: 340px;
    }
    &__dot {
      &--first {
        transform: translate(-470px, 500px);
      }
      &--second {
        transform: translate(-327px, 333px);
      }
      &--third {
        transform: translate(-295px, 430px);
      }
    }
    &__item {
      &:nth-child(1) {
        transform: translate(113px, 290px);
      }
      &:nth-child(2) {
        transform: translate(115px, 75px);
      }
      &:nth-child(3) {
        transform: translate(-120px, 420px);
      }
    }
  }
  .services {
    &__wrapper {
      max-width: 649px;
    }
  }
  .game-plan {
    &__container {
      padding: 100px 16px 120px 287px;
    }
    &__title {
      line-height: 35px;
      font-size: 32px;
      margin-right: 60px;
    }
  }
  .results {
    height: 580px;
    &__wrapper {
      position: relative;
      max-width: none;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &__content {
      max-width: 629px;
      width: 100%;
    }
    &__title {
      max-width: none;
      line-height: 35px;
      font-size: 32px;
      letter-spacing: 0px;
    }
    &__graph {
      display: none;
    }
    &__text {
      br {
        display: none;
      }
    }
    &__button {
      margin: 42px auto 0 auto;
    }
    &__container {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $primary-color;
        opacity: 0.5;
      }
    }
    &__item {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $primary-color;
        opacity: 0.5;
      }
    }
  }
  .trusted-us {
    display: flex;
    justify-content: center;
    &__title {
      max-width: none;
      line-height: 35px;
      font-size: 32px;
      letter-spacing: 0px;
      margin: 0 0 30px 0;

      br {
        display: none;
      }
    }
    &__wrapper {
      max-width: 629px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 15px 0 15px;
      box-sizing: border-box;
    }
  }
  .clients {
    margin-top: 60px;
    &__title {
      margin: 0;
      margin-left: 15px;
    }
    &__wrapper {
      max-width: 629px;
      margin: 0;
    }
  }
  .contacts {
    &__wrapper {
      max-width: 629px;
      padding: 0 15px 0 15px;
      box-sizing: border-box;
      justify-content: space-between;
    }
    &__content {
      margin: 0;
      width: 45%;
    }
    &__title {
      line-height: 35px;
      font-size: 32px;
      letter-spacing: 0px;
    }
    &__form {
      width: 45%;
    }
    &__form-title {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 26px;
      font-size: 24px;
      letter-spacing: 0px;
    }
    &__form-text {
      max-width: 270px;
      margin-bottom: 10px;
    }
    &__form-input {
      height: 40px;
    }
    &__form-submit {
      margin-top: 30px;
    }
  }
   .footer{
    &__container{
      grid-template-columns: 20% 80%;
      grid-template-rows: repeat(2, 1fr);
    }
    &__menu{
      justify-content: end;
    }
    &__copyright{
      justify-content: center;
      grid-column: span 2 / span 2;
    }
    &__text{
      max-width: none;
    }
  }
}

@media (max-width: 749px) {
  .why-choose-us {
    display: none;
  }
  .why-choose-us-mobile {
    display: block;
    &__title {
      margin-left: 15px;
    }
    &__container {
      padding-left: 15px;
    }
    &__button {
      margin-left: 15px;
    }
  }
 
}

@media (max-width: 639px) {
  .header {
    height: 90px;
    &__link {
      display: none;
    }
    &__logo-img {
      width: 60px;
    }
  }
  .hero {
    height: 85vw;
    &__content {
      background-position: center calc(50% + 20px);
      background-size: 144.5% auto;
    }
    &__title {
      font-size: 11vw;
      top: -40vw;
      margin-left: -40vw;
    }
    &__subtitle {
      font-size: 6.9vw;
      line-height: 7.5vw;
      top: -30vw;
      margin-right: -47vw;
    }
    &__text {
      line-height: 2.8vw;
      font-size: 2.8vw;
      margin: 0;
      &::after {
        left: -7%;
        width: 13px;
        height: 13px;
      }
    }
    &__container {
      transform: translate(-4.5%, 150px);
    }
    &::after {
      content: "";

      top: 90px;
      width: 95.5%;
      height: 1.22px;
    }
  }
  .trusted-us {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 14px;
      column-gap: 14px;
    }
    &__item {
      height: 103px;
    }
    &__wrapper {
      padding: 0 20px 0 20px;
    }
  }
  .why-choose-us-mobile {
    &__title {
      margin-left: 20px;
    }
    &__container {
      padding-left: 20px;
    }
    &__button {
      margin-left: 20px;
    }
  }
  .game-plan {
    &__container {
      padding: 100px 16px 120px 370px;
    }
    &__title {
      line-height: 29px;
      font-size: 24px;
      letter-spacing: 0px;
    }
    &__item {
      width: 300px;
      height: 300px;
      border-width: 40px;
    }
    &__item-title {
      font-size: 20px;
    }
  }
  .results {
    height: 602px;
    &__content {
      box-sizing: border-box;
      margin: 0;
      padding: 0 25px 0 25px;
    }
    &__title {
      font-size: 31px;
    }
    &__text {
      padding: 15px 0 15px 0;
      max-width: 430px;
      font-size: 18px;
      margin-left: 28px;
      &::before {
        top: 35%;
        width: 13px;
        height: 13px;
        left: -28px;
      }
    }
    &__button {
      margin: 0;
      margin-top: 42px;
      max-width: 285px;
      width: 100%;
      height: 65px;
      line-height: 1.55;
      font-size: 21px;
    }
  }
  .services {
    &__title {
      margin-left: 20px;
      font-size: 18px;
      line-height: 23px;
      max-width: 260px;
    }
  }
  .clients {
    &__title {
      margin-left: 20px;
      font-size: 18px;
      line-height: 23px;
    }
  }
  .contacts {
    height: 874px;
    &__wrapper {
      flex-direction: column;
      padding: 0 20px 0 20px;
      position: relative;
    }
    &__info {
      position: absolute;
      padding: 0;
      left: 250px;
      top: 590px;

      &-text {
        line-height: 28px;
        font-size: 20px;
        max-width: 270px;
      }
    }
    &__mail {
      position: absolute;
      top: 80px;
      left: 300px;
      font-size: 18px;
    }
    &__address {
      position: absolute;
      top: 125px;
      left: 300px;
      font-size: 18px;
      max-width: 260px;
      line-height: 23px;
    }
    &__telephone {
      font-size: 26px;
    }
    &__title {
      font-size: 31px;
    }
    &__link {
      width: 52px;
      height: 52px;
      margin-right: 8px;
      &-icon {
        width: 28.5px;
        height: 28.5px;
      }
    }
    &__link--square {
      .contacts__link-icon {
        width: 45px;
        height: 45px;
      }
    }
    &__form {
      width: 100%;
    }
    &__form-submit {
      padding: 0px 15px;
      display: block;
      width: 208px;
      font-size: 21px;
      height: 65px;
      border-radius: 40px;
    }
    &__form-text {
      max-width: none;
    }
    &__form-title {
      font-size: 26px;
    }
    &__form-text {
      margin-top: 15px;
      a {
        font-size: 18px;
      }
    }
    &__form-input {
      &::placeholder {
        font-size: 21px;
      }
    }
    &__form-textarea {
      margin-bottom: 30px;
      &::placeholder {
        font-size: 21px;
      }
    }
    &__form-privacy {
      font-size: 18px;
    }
  }
}

@media (max-width: 561px) {
  .promo {
    &__close-button {
      z-index: 9999999999;

      &::before {
        top: 15px;
        right: 10px;
        width: 20px;
        height: 2px;
      }
      &::after {
        top: 15px;
        right: 10px;
        width: 20px;
        height: 2px;
      }
    }
    &__container {
      border-top: 50px solid black;
      box-sizing: border-box;
      padding: 20px;
      height: 100%;
      justify-content: start;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 26px;
    }
    &__description {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 14px;
    }
    &__text {
      font-size: 10px;
      line-height: 1.45;
    }
    &__input {
      height: 50px;
      margin-bottom: 20px;
    }
  }
  .trusted-us {
    height: 400px;
    &__container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    &__item {
      max-width: none;
    }
  }
  .contacts {
    height: fit-content;
    margin-top: 100px;
    &__content {
      width: 100%;
    }
    &__mail {
      position: static;
    }
    &__address {
      position: static;
      max-width: none;
    }
    &__info {
      left: 20px;
      bottom: 100px;
      top: auto;
      &-text {
        max-width: 270px;
      }
    }
    &__form {
      padding-bottom: 200px;
      &-submit {
        width: 100%;
      }
    }
  }
  .footer {
    height: fit-content;
    padding: 20px 0 30px 0;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__menu{
     flex-direction: column;
     text-align: center;
     gap: 10px;
    }
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 481px) {
  .header {
    height: 101px;
  }
  .hero {
    height: 218vw;
    &__content {
      background-position: center calc(100% + 50px);
      background-size: 280% auto;
    }
    &__container {
      transform: translate(-4.5%, -100px);
    }
    &__title {
      font-size: 15vw;
    }
    &__subtitle {
      font-size: 9.6vw;
      max-width: 81vw;
      text-wrap: wrap;
      line-height: 10.5vw;
      br {
        display: none;
      }
    }
    &__text {
      font-size: 4.2vw;
      left: 28%;
      top: -200px;
    }
    &::after {
      content: "";

      top: 101px;
      width: 95.5%;
      height: 1.22px;
    }
  }
  .why-choose-us-mobile {
    &__title {
      font-size: 34px;
      max-width: 300px;
      margin-left: 25px;
    }
    &__item {
      width: 375px;
      height: 375px;
    }
    &__container {
      padding-left: 25px;
    }
    &__button {
      margin: auto;
      width: calc(100vw - 50px);
      font-size: 23px;
      line-height: 1.55;
      font-weight: 500;
      height: 72px;
    }
  }
  .services {
    margin-top: 50px;
  }
  .game-plan {
    height: 592px;
    &__title {
      font-size: 35px;
    }
    &__item {
      width: 433px;
      height: 433px;
      border-width: 60px;
    }
    &__item-title {
      font-size: 29px;
    }
  }
  .results {
    &__content {
      height: fit-content;
    }
    &__title {
      font-size: 36px;
    }
    &__text {
      font-size: 21px;
      line-height: 27px;
    }
    &__button {
      width: 100%;
      max-width: none;
      line-height: 1.55;
      font-weight: 500;
      font-size: 24px;
    }
  }
  .trusted-us {
    &__title {
      font-size: 36px;
      margin-bottom: 55px;
    }
    &__wrapper {
      padding: 0 25px 0 25px;
    }
    &__item {
      height: 120px;
    }
  }
  .services {
    &__title {
      margin-left: 25px;
      font-size: 21px;
      max-width: 312px;
    }
  }
  .clients {
    padding-top: 50px;
    &__title {
      margin-left: 25px;
      font-size: 21px;
    }
  }
  .contacts {
    &__wrapper {
      padding: 0 25px 0 25px;
    }
    &__title {
      font-size: 36px;
      margin-bottom: 55px;
    }
    &__telephone {
      font-size: 30px;
      margin-bottom: 25px;
    }
    &__mail {
      font-size: 21px;
      margin-bottom: 20px;
    }
    &__address {
      font-size: 21px;
    }
    &__link {
      width: 60px;
      height: 60px;
      &-icon {
        width: 33px;
        height: 33px;
      }
      &--square {
        .contacts__link-icon {
          width: 59px;
          height: 59px;
        }
      }
    }
    &__form-title {
      margin-top: 50px;
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__form-checkbox {
      width: 30px;
      height: 30px;
    }
    &__form-text {
      max-width: 270px;
      margin-bottom: 20px;
      a {
        font-size: 21px;
        line-height: 27px;
      }
    }
    &__form-input {
      &::placeholder {
        font-size: 24px;
      }
    }
    &__form-textarea {
      height: 120px;
      &::placeholder {
        font-size: 24px;
      }
    }
    &__form-privacy {
      font-size: 21px;
    }
    &__info-text {
      line-height: 27px;
      font-size: 21px;
    }
    &__info-link {
      transform: translate(-5px, -10px);
    }
    &__info-icon {
      width: 75px;
      height: 75px;
    }
  }
  .game-plan {
    &__container {
      padding: 100px 16px 120px 0;
    }
    &__title {
      margin-left: 30px;
    }
  }
}

@media (max-width: 373px) {
  .contacts {
    &__form-input {
      &::placeholder {
        font-size: 16px;
      }
    }
    &__form-textarea {
      height: 85px;
      &::placeholder {
        font-size: 16px;
      }
    }
  }
  .hero__subtitle {
    top: -25vw;
    margin-right: -200px;
    max-width: 270px;
    right: 200px;
  }
  .contacts__info-text {
    font-size: 14px;
    max-width: 190px;
  }
  .trusted-us__wrapper {
    margin-top: 200px;
  }
  .trusted-us {
    margin-bottom: 100px;
  }
  .contacts__form-checkbox {
    flex-shrink: 0;
  }
}

@keyframes fadeInTitle {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSubtitle {
  0% {
    transform: translate(100%, 28%);
  }
  100% {
    opacity: 1;
    transform: translate(4.5%, 28%);
  }
}

@keyframes fadeInText {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(13%, 100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes runningLineServices {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-2348px);
    -webkit-transform: translateX(-2348px);
  }
}

@keyframes runningLineServicesMobile {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-1237px);
    -webkit-transform: translateX(-1237px);
  }
}

@keyframes runningLineClients {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-1189px);
    -webkit-transform: translateX(-1189px);
  }
}

@keyframes runningLineClientsMobile {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-631px);
    -webkit-transform: translateX(-631px);
  }
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  mix-blend-mode: normal;
}

.cursor-dot {
  z-index: 99999999;
  width: 16px;
  height: 16px;
  background-color: rgba(18, 18, 88, 1);
  opacity: 1;
}

.cursor-dot-outline {
  z-index: 99999998;
  width: 16px;
  height: 16px;
  background-color: rgba(169, 169, 222, 0.39);
  opacity: 0;
}
