@use "./reset.css";

html {
  background-color: #f5f8ff;
}

body {
  font-family: "Urbanist", Arial, sans-serif;
  color: #000;
}

.quiz {
  display: flex;
  justify-content: center;
  margin-top: 111px;
  &::before {
    content: "";
    position: absolute;
    width: 94%;
    height: 2px;
    top: 112px;
    background-color: rgba($color: #14134f, $alpha: 0.6);
  }

  gap: 20px;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
  }

  &__header {
    position: relative;

    padding: 80px 0 62px 0;

    &-title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;

      &-text {
        position: relative;
        color: #14134f;
        padding-left: 32px;
        font-size: 50px;
        max-width: 630px;
        font-family: "Urbanist", Arial, sans-serif;
        line-height: 1.1;
        font-weight: 400;
        letter-spacing: -0.5px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 25%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-color: #fb596a;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }

  &__form {
    max-width: 560px;
    margin: 0 auto 60px;

    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    &-top {
      &-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }
    }
  }

  &__info-container {
    display: flex;
    justify-content: space-between;
    padding: 35px 45px 30px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #e6edff;

    &-left {
      display: flex;
      gap: 3px;

      &-img {
        width: 23px;
        height: 20px;
      }

      &-text {
        display: inline-block;
        vertical-align: top;
        width: 90%;

        color: #595882;
        font-size: 16px;
        line-height: 1.3;
        // padding-bottom: 30px;
        font-family: "Urbanist", sans-serif;
      }
    }

    &-right {
      &-counter {
        float: right;
        font-weight: 500;

        color: #595882;
        font-size: 16px;
        line-height: 1.3;
        font-family: "Urbanist";
      }
    }
  }

  &__info-container {
    &--last-slide-text {
      display: flex;
      justify-content: space-between;
      padding: 35px 45px 30px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      background-color: #e6edff;

      color: rgb(20, 19, 79);
      font-size: 24px;
      line-height: 1.3;
      font-weight: 400;
      font-family: "Urbanist", sans-serif;
      display: block;
    }
  }

  &__info-progressbar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    // margin-top: 10px;

    .quiz__info-progress {
      height: 100%;
      width: 50%;
      background-color: rgb(251, 89, 106);
      transition: width 0.3s;
    }
  }

  &__slide {
    display: none;
    padding: 20px 45px 55px;

    &--active {
      display: block;
    }

    &-title {
      color: #14134f;
      font-size: 24px;
      font-family: Urbanist;
      line-height: 1.2;
      font-weight: 400;
      padding-bottom: 30px;
    }

    &-info {
      font-family: "Urbanist", Arial, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.35;
      color: #14134f;
    }

    &-form {
      &-container {
        margin-bottom: 30px;
      }

      &-input {
        color: #14134f;
        border: 1px solid #9b9cb9;
        -moz-border-radius: 40px;
        -webkit-appearance: none;
        font-family: "Urbanist", sans-serif;
        outline: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
        border-radius: 0 !important;
        margin: 0;
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.33;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &--error {
          border: 2px solid red;
        }

        &::placeholder {
          font-weight: bold;
          opacity: 0.5;
          font-family: "Urbanist", sans-serif;
          font-weight: 400;
          color: #9b9cb9;
        }

        &:active {
          &::placeholder {
            content: "";
          }
        }
      }
    }

    &-error {
      display: none;

      &--active {
        padding-top: 10px;
        display: block;
        color: red;
      }
    }
  }

  &__checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-family: "Urbanist", Arial, sans-serif;
    font-weight: 400;
    color: #14134f;

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-box {
      box-sizing: border-box;
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 2px solid #14134f;
      margin-right: 10px;
      opacity: 0.6;
      transition: background-color 0.3s ease, border 0.3s ease,
        opacity 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 40%;
        width: 4px;
        height: 8px;
        border: solid transparent;
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    &:hover &-box {
      background-color: #fff;
    }

    &-input:checked + &-box {
      border: 2px solid #14134f;
      opacity: 1;
    }

    &-input:checked + &-box::after {
      border-color: #14134f; // check mark becomes white on dark background
      opacity: 1;
    }
  }

  &__radio-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
  }

  &__radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    padding-left: 35px;

    &-label {
      color: #14134f;
      font-size: 15px;
      line-height: 1.55;
      font-weight: 400;
    }

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-box {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid #14134f;
      opacity: 0.6;
      transition: background-color 0.3s ease, border 0.3s ease,
        opacity 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #14134f;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

    &:hover &-box {
      background-color: #fff;
    }

    &-input:checked + &-box {
      background-color: #fff;
      border: 2px solid #14134f;
      opacity: 1;
    }

    &-input:checked + &-box::after {
      opacity: 1;
    }
  }

  &__actions-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    padding: 0 45px 50px;
  }

  &__button {
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 100px;
    padding: 15px 30px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background-color: #edf2fe;
      color: #14134f;
    }

    &--prev {
      background-color: #cbcbcb;
      padding: 15px 20px 15px 40px;
      box-sizing: content-box;
      position: relative;

      &::before {
        content: "\00a0→";
        position: absolute;
        top: 53%;
        left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1.3;
        transform: rotate(180deg) translateY(45%);
      }
    }

    &--next {
      position: relative;
      box-sizing: content-box;
      padding: 15px 40px 15px 20px;
      background-color: #14134f;

      &::after {
        content: "\00a0→";
        position: absolute;
        top: 53%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1;
        transform: translateY(-55%);
      }
    }
    &--last {
      position: relative;
      box-sizing: content-box;
      padding: 15px 20px;
      background-color: #14134f;
    }

    &--submit {
      position: relative;
      box-sizing: content-box;
      padding: 15px 20px;
      background-color: #14134f;
    }
  }
}

// Кастомные чекбоксы и радио
.quiz__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
  }

  & + label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background: white;
    position: absolute;
    left: 0;
    border-radius: 4px;
  }

  &:checked + label::before {
    background-color: blue;
    border: 2px solid yellow;
    border-color: blue;
  }
}

.quiz__radio {
  & + label::before {
    border-radius: 50%;
  }
}

@media (max-width: 1250px) {
  .quiz__header {
    padding: 80px 25px 62px 25px;
  }
}

@media (max-width: 1199px) {
   .quiz {
    margin-top: 86px;
    &::before {
    top: 87px;
  }
  }
}

@media (max-width: 959px) {
  .quiz {
    margin-top: 103px;
    &::before {
    top: 104px;
  }
  }
  .quiz__header {
    max-width: 600px;
    margin: auto;
    padding: 80px 0px 62px 10px;
  }
  .quiz__header-title-text {
    max-width: 430px;
  }
  .quiz__form {
    max-width: 600px;
  }
  .quiz__header-title-text {
    font-size: 32px;
  }
}

@media (max-width: 639px) {
  .quiz {
    margin-top: 90px;
    &::before {
    top: 91px;
  }
  }
  .quiz__form {
    max-width: 100%;
  }
  .quiz__info-container-left-img {
    display: none;
  }
  .quiz__info-container {
    padding: 20px;
    padding-bottom: 30px;
  }
  .quiz__slide {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .quiz__info-container--last-slide-text {
    padding: 0;
    padding: 20px;
    padding-bottom: 25px;
  }
}

@media (max-width: 481px) {
  .quiz {
    margin-top: 101px;
    &::before {
    top: 102px;
  }
  }
}
