* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5f8ff;
}

body {
  font-family: "Urbanist", Arial, sans-serif;
  color: #000;
  padding-bottom: 20px;
  margin: 10px;
}

.quiz {
  max-width: 600px;
  margin: auto;
  // padding: 20px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  gap: 20px;

  &__header {
    padding: 60px 20px;
    &-title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;

      &-dot {
        width: 16px;
        min-width: 16px;
        height: 16px;
        min-height: 16px;
        background-color: red;
        border-radius: 50%;
        margin-right: 10px;

        border-radius: 3000px;
        background-color: #fb596a;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        display: table-cell;
        vertical-align: middle;
        box-sizing: border-box;
        // width: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      &-text {
        color: #14134f;
        font-size: 32px;
        font-family: "Urbanist", Arial, sans-serif;
        line-height: 1.1;
        font-weight: 400;
        letter-spacing: -0.5px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
    }
  }

  &__form {
    max-width: 560px;
    margin: 0 auto;

    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    &-top {
      &-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }
    }
  }

  &__info-container {
    display: flex;
    justify-content: space-between;
    padding: 35px 45px 30px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #e6edff;

    &-left {
      display: flex;
      gap: 10px;
      align-items: center;

      &-img {
        width: 23px;
        height: 20px;
      }

      &-text {
        display: inline-block;
        vertical-align: top;
        width: 90%;

        color: #595882;
        font-size: 16px;
        line-height: 1.3;
        // padding-bottom: 30px;
        font-family: "Urbanist", sans-serif;
      }
    }

    &-right {
      &-counter {
        float: right;
        font-weight: 500;

        color: #595882;
        font-size: 16px;
        line-height: 1.3;
        font-family: "Urbanist";
      }
    }
  }

  &__info-container {
    &--last-slide-text {
      display: flex;
      justify-content: space-between;
      padding: 35px 45px 30px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      background-color: #e6edff;

      color: rgb(20, 19, 79);
      font-size: 24px;
      line-height: 1.3;
      font-weight: 400;
      font-family: "Urbanist", sans-serif;
      display: block;
    }
  }

  &__info-progressbar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    // margin-top: 10px;

    .quiz__info-progress {
      height: 100%;
      width: 50%;
      background-color: rgb(251, 89, 106);
      transition: width 0.3s;
    }
  }

  &__slide {
    display: none;
    padding: 35px 45px 55px;

    &--active {
      display: block;
    }

    &-title {
      color: #14134f;
      font-size: 24px;
      font-family: Urbanist;
      line-height: 1.2;
      font-weight: 400;
      padding-bottom: 30px;
    }

    &-info {
      font-family: "Urbanist", Arial, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.35;
      color: #14134f;
    }

    &-form {
      &-container {
        margin-bottom: 30px;
      }

      &-input {
        color: #14134f;
        border: 1px solid #9b9cb9;
        -moz-border-radius: 40px;
        -webkit-appearance: none;
        font-family: "Urbanist", sans-serif;
        outline: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
        border-radius: 0 !important;
        margin: 0;
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.33;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &--error {
          border: 2px solid red;
        }

        &::placeholder {
          font-weight: bold;
          opacity: 0.5;
          font-family: "Urbanist", sans-serif;
          font-weight: 400;
          color: #9b9cb9;
        }

        &:active {
          &::placeholder {
            content: "";
          }
        }
      }
    }

    &-error {
      display: none;

      &--active {
        padding-top: 10px;
        display: block;
        color: red;
      }
    }
  }

  &__checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-family: "Urbanist", Arial, sans-serif;
    font-weight: 400;
    color: #14134f;

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-box {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 2px solid #14134f;
      margin-right: 10px;
      opacity: 0.6;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover &-box {
      background-color: #fff;
    }

    &-input:checked + &-box {
      // background-color: #14134f;
      background-color: #fff;
      border: 2px solid #14134f;
    }

    &-input:checked + &-box::after {
      display: block;
      left: 5px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid #14134f;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &__radio-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
  }

  &__radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    padding-left: 35px;

    &-label {
      color: #14134f;
      font-size: 15px;
      line-height: 1.55;
      font-weight: 400;
    }

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid #14134f;
      opacity: 0.6;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover &-box {
      background-color: #fff;
    }

    &-input:checked + &-box {
      // background-color: #2196F3;
      background-color: #fff;
      border: 2px solid #14134f;
      opacity: 1;
    }

    &-input:checked + &-box::after {
      display: block;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #14134f;
    }
  }

  &__actions-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    padding: 0 45px 50px;
  }

  &__button {
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 100px;
    padding: 15px 30px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background-color: #edf2fe;
      color: #14134f;
    }

    &--prev {
      background-color: #cbcbcb;
      padding: 15px 20px 15px 40px;
      box-sizing: content-box;
      position: relative;

      &::before {
        content: "\00a0→";
        position: absolute;
        top: 53%;
        left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1.3;
        transform: rotate(180deg) translateY(45%);
      }
    }

    &--next {
      position: relative;
      box-sizing: content-box;
      padding: 15px 40px 15px 20px;
      background-color: #14134f;

      &::after {
        content: "\00a0→";
        position: absolute;
        top: 53%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1;
        transform: translateY(-55%);
      }
    }
    &--last {
      position: relative;
      box-sizing: content-box;
      padding: 15px 20px;
      background-color: #14134f;
    }

    &--submit {
      position: relative;
      box-sizing: content-box;
      padding: 15px 20px;
      background-color: #14134f;
    }
  }
}

// Кастомные чекбоксы и радио
.quiz__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  & + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
  }

  & + label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background: white;
    position: absolute;
    left: 0;
    border-radius: 4px;
  }

  &:checked + label::before {
    background-color: blue;
    border: 2px solid yellow;
    border-color: blue;
  }
}

.quiz__radio {
  & + label::before {
    border-radius: 50%;
  }
}
