@use "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$primary-color: #14134f;
$secondary-color: #fb596a;
$bg-color: #fafafa;

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Urbanist", Arial, sans-serif;
  line-height: normal;
  color: $primary-color;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background-color 1s linear;
  background-color: rgb(245, 248, 255);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hidden {
  display: none;
}

.animate {
  opacity: 1;
  transform: translate(0, 0);
}

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 111px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 248, 255, 0.8) !important;
  -webkit-backdrop-filter: saturate(90%) blur(10px);
  backdrop-filter: saturate(90%) blur(10px);

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 98px;
    width: 89px;
    height: 21px;
    background-image: url("../images/icons/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/icons/burger.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
      filter: blur(4px);
      z-index: -1;
    }
  }

  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 999999;
    display: none;
    transition: opacity 0.3s ease;
  }
  &__overlay.active {
    display: block;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 25px;
    opacity: 0.7;
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 40px;
  }
  &__logo {
    position: absolute;
    left: 6px;
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      position: relative;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $secondary-color;
        border-radius: 50%;
        bottom: 4px;
        left: 2px;
        animation: pulse 4s infinite linear;
      }
    }
    &-img {
      width: 73px;
      height: auto;

      &--blured {
        position: absolute;
        opacity: 0.2;
        filter: blur(4px);
        z-index: -9;
      }
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: -9;
      background-color: $secondary-color;
      border-radius: 50%;
      right: 2px;
      top: 4px;
      animation: pulse 4s infinite linear;
    }
  }
  &__nav {
    position: relative;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.promo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;

  &.promo--active {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99999999;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &__container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 660px;
    padding: 40px 45px;
    background-color: #edf2fe;
    z-index: 999999999;
  }

  &__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999999999;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 30px;
      height: 2px;
      background-color: $secondary-color;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__input {
    width: 570px;
    height: 60px;
    background-color: white;
    margin-bottom: 25px;
  }

  &__button {
    width: 570px;
    height: 54px;
    background-color: $secondary-color;
  }

  &__description {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 24px;
  }

  &__link {
    color: rgb(20, 19, 79);
    border-bottom: 1px solid rgb(20, 19, 79);
    text-decoration: none;
  }

  &__text {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.55;
    color: #000;
  }

  &__title {
    color: $primary-color;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 31px;
    text-align: center;
  }
}

.promo--active .promo__overlay {
  opacity: 0.6;
}

.promo--active .promo__container {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 9999999;
  background-color: #edf2fe;
  padding: 48px 40px 38px;
  display: flex;
  flex-direction: column;
  transform: translate(100%, 0);
  transition: transform ease-in-out 0.3s;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    outline: none;
    &:hover {
      color: #ff8562;
    }
  }
  &__logo {
    margin-bottom: 16px;
    &-img {
      width: 60px;
      height: 42px;
    }
  }
  &__close-button {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    top: 7px;
    right: 5px;
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      top: 19px;
      right: 8px;
      background-color: $primary-color;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      top: 19px;
      right: 8px;
      background-color: $primary-color;
      transform: rotate(-45deg);
    }
  }
  &--active {
    transform: translate(0, 0);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 109vh;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../images/background_map.png");
    background-position: center center;
    background-size: 101% auto;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: center;
    transform: translate(-4.5%, -14%);
  }

  &__title {
    color: $primary-color;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-size: 160px;
    font-style: italic;
    letter-spacing: -3px;
    text-wrap: nowrap;
    opacity: 0;
    animation: fadeInTitle 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;
  }

  &__subtitle {
    color: $primary-color;
    display: block;
    font-family: "Urbanist", Arial, sans-serif;
    font-weight: 400;
    max-width: 900px;
    font-size: 96px;
    letter-spacing: -0.5px;
    line-height: 100px;
    opacity: 0;
    animation: fadeInSubtitle 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;
  }

  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: "Urbanist", Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    color: $primary-color;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    animation: fadeInText 2s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;

    &::after {
      position: absolute;
      left: -13%;
      content: "";
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: $secondary-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(111px + 2px);
    width: 93.5%;
    height: 1.58px;
    background-color: $primary-color;
    opacity: 0.4;
  }
}

.why-choose-us {
  width: 100%;
  margin-top: 25px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    margin-top: 40px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 220px;
    height: 50px;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 30px;
    background-color: $bg-color;
    font-family: "Urbanist", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 40px 4px rgba(82, 81, 140, 0.1);
    &:hover {
      background-color: $primary-color;
      color: $bg-color;
    }
  }

  &__container {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    z-index: 9;
  }
  &__content {
    max-width: 350px;
    width: 100%;
    margin-left: 20px;
  }
  &__vector {
    position: absolute;
    width: 258px;
    height: 373px;
    right: 392px;
    top: 294px;
    z-index: 999;
    background: url("../images/icons/vector_39.svg") no-repeat center center;
    background-size: contain;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
    &.animate-from-center {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__dot {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    &--first {
      transform: translate(-577px, 370px);
    }
    &--second {
      transform: translate(-432px, 287px);
    }
    &--third {
      transform: translate(-386px, 420px);
    }
    &-inner {
      width: 16px;
      height: 16px;
      background-color: $secondary-color;
      border-radius: 50%;
      animation: pulse 4s infinite linear;
    }
  }

  &__item {
    display: flex;
    position: relative;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    transition: transform 0.4s ease, background 0.3s ease;

    &-title,
    &-description {
      position: absolute;
      transition: opacity 0.4s ease;
    }

    &-title {
      display: flex;
      text-align: center;
      z-index: 99999;
      line-height: 35px;
      color: $primary-color;
      font-size: 32px;
      font-family: "Urbanist", Arial, sans-serif;
      opacity: 1;
    }

    &-description {
      display: flex;
      text-align: center;
      z-index: 99999;
      line-height: 21px;
      width: 180px;
      color: $primary-color;
      font-size: 16px;
      font-family: "Urbanist", Arial, sans-serif;
      opacity: 0;
      max-width: 190px;
    }
    &::after {
      position: absolute;
      z-index: 999;
      content: "";
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: rgb(230, 237, 255);
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border: 10px solid transparent;
      transition: all 0.4s ease;
    }

    &:hover {
      background: none;

      .why-choose-us__item-title {
        opacity: 0;
      }
      .why-choose-us__item-description {
        opacity: 1;
      }
      &::after {
        background-color: $bg-color;
        border-color: $primary-color;
        width: 260px;
        height: 260px;
      }
    }

    &:nth-child(1) {
      transform: translate(36px, 185px);
    }
    &:nth-child(2) {
      transform: translate(25px, 10px);
    }
    &:nth-child(3) {
      transform: translate(-111px, 315px);
    }
  }

  &__title {
    line-height: 55px;
    font-size: 50px;
    letter-spacing: -0.5px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

  &__title {
    line-height: 21px;
    color: $primary-color;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Urbanist", Arial, sans-serif;
    opacity: 0.7;
    max-width: 240px;
  }

  &__running-line {
    width: 100%;
    overflow: hidden;
  }

  &__running-line-inner {
    display: flex;
    animation: runningLineServices 23.8s linear infinite;
  }

  &__text {
    padding: 0 10px;
    color: #14134f;
    font-size: 50px;
    line-height: 1.55;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
  }
}

.game-plan {
  width: 100%;
  height: 630px;
  display: flex;
  padding-top: 15px;
  &__wrapper {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  &__title {
    font-size: 50px;
    letter-spacing: -0.5px;
    height: fit-content;
    line-height: 55px;
    margin-left: calc((100vw - 1200px) / 2);
    margin-right: 160px;

    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 120px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 60px 16px 120px 16px;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2px;

    &::-webkit-scrollbar {
      display: none;
    }

    cursor: grab;

    &.active {
      cursor: grabbing;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-width: 50px;
    border-radius: 300px;
    border-color: #edf2fe;
    border-style: solid;
    box-shadow: 10px 10px 40px 4px rgba(55, 53, 133, 0.1);
    transition: border-color 0.2s ease, background-color 0.2s ease;
    &:hover {
      border-color: $primary-color;
      background-color: transparent;
      .game-plan__item-text {
        opacity: 1;
      }
    }
  }

  &__item-title {
    color: $primary-color;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }

  &__item-text {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 18px;
    top: 410px;
    text-wrap: nowrap;
    color: $bg-color;
    background-color: $primary-color;
    line-height: 24px;
    border-radius: 12px;
    transition: opacity 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      top: -5px;
      width: 9px;
      height: 9px;
      background-color: $primary-color;
    }
  }

  &__item-days {
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }

  &__button {
    display: block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 70px;
    right: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    z-index: 999;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/icons/arrow.svg");

    &--left {
      transform: translateX(-511px);
    }

    &--right {
      transform: translateX(-577px) rotate(180deg);
    }
  }
}

.results {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  &__button {
    margin-top: 42px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 220px;
    height: 50px;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 30px;
    background-color: $bg-color;
    font-family: "Urbanist", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 40px 4px rgba(82, 81, 140, 0.1);
    &:hover {
      background-color: $primary-color;
      color: $bg-color;
    }
  }
  &__content {
    margin-left: 20px;
    max-width: 400px;
    width: 100%;
  }
  &__container {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      background-color: $primary-color;
      opacity: 0.5;
    }
  }
  &__graph {
    position: relative;
    width: 100%;
  }
  &__graph-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $bg-color;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    width: 360px;
    height: 320px;
    top: 222px;
    left: 200px;
    transition: background-color 0.3s ease;

    &-img {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 396px;
      height: 352px;
      background-color: $bg-color;
      border-radius: 20px;
      z-index: -9;
      transition: transform 0.3s ease, background-color 0.3s ease;
      transform: scale(0.91);
    }

    &:hover {
      background-color: rgb(233, 233, 246);
      &::after {
        transform: scale(1);
      }
    }
  }
  &__graph-ltv {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: visible;
    top: 65px;
    left: 500px;
    z-index: 9999;
    transition: opacity 0.3s ease;
    img {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border-radius: inherit;
      transform-origin: center;
      transition: transform 0.3s ease;
      z-index: -1;
    }
    &:hover {
      opacity: 0.95;
    }

    &:hover::before {
      transform: scale(1.1);
    }
  }
  &__graph-net {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 260px;
    height: 80px;
    border-radius: 20px;
    top: 370px;
    left: 500px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 9999;
    transition: opacity 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
      border-radius: inherit;
      transform-origin: center;
      transition: transform 0.3s ease;
      z-index: -1;
    }
    &:hover {
      opacity: 0.95;
    }
    &:hover::before {
      transform: scale(1.15);
    }

    &-text {
      color: $bg-color;
      margin-left: 14px;
    }

    &-icon {
      width: 60px;
      height: 60px;
    }
  }
  &__graph-rate {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    border-radius: 20px;
    padding-right: 20px;
    background-color: $primary-color;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    top: 525px;
    left: 100px;
    transition: background-color 0.3s ease;
    &-icon {
      width: 18px;
      height: 18px;
      margin-left: 2px;
    }
    &-text {
      margin-left: 14px;
      color: $bg-color;
    }
    &:hover {
      background-color: $secondary-color;
    }
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      background-color: $primary-color;
      opacity: 0.5;
    }
  }
  &__text {
    line-height: 21px;
    font-size: 16px;
    margin-left: 36px;
    color: rgba($primary-color, 0.7);
    position: relative;
    padding: 22px 0 22px 0;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      z-index: 999;
      background-color: $secondary-color;
      border-radius: 50%;
      left: -35px;
      top: 26px;
    }
  }
  &__title {
    color: $primary-color;
    line-height: 55px;
    font-size: 50px;
    letter-spacing: -0.5px;
    margin-bottom: 59px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
  }
}

.trusted-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  margin: 73px 0 17px 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 8px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    background-color: $bg-color;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    border-radius: 20px;
    &-img {
      height: auto;
    }
  }
  &__title {
    line-height: 55px;
    margin-left: 20px;
    color: $primary-color;
    font-size: 50px;
    letter-spacing: -0.5px;
    max-width: 240px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 43% 57%;
    max-width: 1200px;
    width: 100%;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    height: 54px;
    overflow: hidden;
  }

  &__title {
    line-height: 21px;
    color: $primary-color;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Urbanist", Arial, sans-serif;
    opacity: 0.7;
  }

  &__running-line {
    width: 100%;
    overflow: hidden;
  }

  &__running-line-inner {
    display: flex;
    animation: runningLineClients 23.78s linear infinite;
  }

  &__text {
    padding: 0 10px;
    color: #14134f;
    font-size: 50px;
    line-height: 1.55;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  &__address {
    line-height: 21px;
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 60px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 20px;
  }
  &__form {
    width: 60%;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__info-icon {
  }
  &__info-link {
    width: 50px;
    height: 50px;
    transform: translate(-15px, -1px);
  }
  &__info-text {
    color: $primary-color;
    max-width: 218px;
    line-height: 21px;
    font-size: 16px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $bg-color;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 10px 10px 40px 4px rgba(140, 139, 193, 0.1);
    &--square {
      border-radius: 8px;
    }
  }
  &__link-icon {
    height: auto;
  }
  &__mail {
    color: $primary-color;
    line-height: 21px;
    font-size: 16px;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 11px;
  }
  &__telephone {
    color: $primary-color;
    line-height: 35px;
    font-size: 32px;
    letter-spacing: -0.5px;
    text-decoration: none;
    margin-bottom: 19px;
  }
  &__title {
    color: $primary-color;
    font-size: 50px;
    letter-spacing: -0.5px;
    margin-bottom: 59px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $bg-color;
  height: 100px;
  &__container {
    display: grid;
    height: 100%;
    width: 96%;
    grid-template-columns: 29% 16.5% 32.5% 22%;
    align-items: center;
  }
  &__item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__link {
    color: $primary-color;
    text-decoration: none;
    line-height: 21px;
    opacity: 0.7;
    font-size: 16px;
    word-break: break-all;
    display: flex;
    align-items: center;
    &--highlighted {
      opacity: 1;
    }
  }
  &__text {
    color: $primary-color;
    opacity: 0.7;
  }
  &__year {
  }
  &__logo-img {
    width: 46px;
    height: 32px;
  }
  &__logo-link {
    display: flex;
    align-items: center;
  }
}

@keyframes fadeInTitle {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSubtitle {
  0% {
    transform: translate(100%, 28%);
  }
  100% {
    opacity: 1;
    transform: translate(4.5%, 28%);
  }
}

@keyframes fadeInText {
  0% {
    transform: translate(-100%, 80%);
  }
  100% {
    opacity: 1;
    transform: translate(13%, 80%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes runningLineServices {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-2348px);
    -webkit-transform: translateX(-2348px);
  }
}

@keyframes runningLineClients {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  100% {
    transform: translateX(-1189px);
    -webkit-transform: translateX(-1189px);
  }
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  mix-blend-mode: normal;
}

/* Inner dot – always visible */
.cursor-dot {
  z-index: 99999999;
  width: 16px;
  height: 16px;
  background-color: rgba(18, 18, 88, 1);
  opacity: 1;
}

/* Outer outline – hidden by default */
.cursor-dot-outline {
  z-index: 99999998;
  width: 16px;
  height: 16px;
  background-color: rgba(169, 169, 222, 0.39);
  opacity: 0;
}
